import(methods)
import(RCIndex)
#exportPattern(".*")

export(
    makeCode,
    makeEnumDef,
    makeEnumClass,
    makeEnumCoerce,

    makeStructCode,
    )



export(   
    createCppMethod
)

export(RFunctionDefinition, RMethodDefinition,
       RDollarDefinition, RSingleBracketDefinition,
       RDoubleBracketDefinition,
       CRoutineDefinition, "C++MethodDefinition")

export(createRProxy,
       createNativeProxy)

export(makeRStructCode,makeCStructCode, createCopyStruct)
